<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exemplo EJS</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
  </style>
  </head>

  <body>
   <div style="width: 100wh; height: 100vh; display: flex;  justify-content: center; background: #ccc;"> 
    <img style="width: 350px; height:350px;" src="<%= code %>">
  </div>
  </body>
</html>
